In [1]:
import pandas as pd
from taxipred.utils.constants import DATA_PATH
from taxipred.utils.constants import TAXI_CSV_PATH

In [2]:
df = pd.read_csv(TAXI_CSV_PATH)

In [3]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

In [4]:
df.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

Fixing Trip_Price with the proper calculation we learned from previous notebook.

In [ ]:
mask = (
    df["Trip_Price"].isna() &
    df["Base_Fare"].notna() &
    df["Trip_Distance_km"].notna() &
    df["Per_Km_Rate"].notna() &
    df["Trip_Duration_Minutes"].notna() &
    df["Per_Minute_Rate"].notna()
)

df.loc[mask, "Trip_Price"] = (
    df.loc[mask, "Base_Fare"]
    + df.loc[mask, "Trip_Distance_km"] * df.loc[mask, "Per_Km_Rate"]
    + df.loc[mask, "Trip_Duration_Minutes"] * df.loc[mask, "Per_Minute_Rate"]
)

In [6]:
df.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               17
dtype: int64